# Enlaces de gestión y seguimiento del proyecto - Lavandería de Barrio (PPIV)

# Tablero de Jira (Gestión de tickets, verticales y tareas)
JIRA_BOARD_URL="https://greenbox-group.atlassian.net/jira/core/projects/LV/board"

# Hub del Proyecto en Atlassian (Información centralizada y documentación general)
PROJECT_HUB_URL="https://home.atlassian.com/o/c17e2dbe-5dff-467c-abb6-a57163458aae/s/3e26fdbc-0f5f-4349-b25f-83505f54a6cc/project/VXLDIXPN-2/about"
